<div ng-app="myApp">
    <ul>
        <li><a href="">User</a></li>
        <li><a href="">Post</a></li>
        <li><a href="">Category</a></li>
    </ul>
    <div class="container">
        <ng-view></ng-view>
    </div>
</div>