<div class="row" ng-app="LoginMod">
    <form ng-controller="LoginCtrl" ng-submit="runLogin()">
        <input type="text" ng-model="username" placeholder="Enter Username"><br>
        <input type="password" ng-model="password" placeholder="Enter Password"><br>
        <input type="submit" value="Login"><a href="/signup">Signup</a>
    </form>
</div>